{{ define "main" }}
<section>
    <hgroup>
        <h2>Najnowsze doniesienia z Salonu</h2>
        <p>Głosy, obrazy i dźwięki z życia naszej społeczności</p>
    </hgroup>
    
    <nav>
        <ul>
            <li><strong>Filtruj:</strong></li>
            {{ range $name, $items := .Site.Taxonomies.tags }}
            <li><a href="{{ "/tags/" | relLangURL }}{{ $name | urlize }}" class="secondary">#{{ $name }}</a></li>
            {{ end }}
        </ul>
    </nav>

    <div class="grid">
        {{ $paginator := .Paginate (where .Site.RegularPages "Section" "posts") }}
        {{ range $paginator.Pages }}
        <article>
            <header>
                <hgroup>
                    <h3><a href="{{ .RelPermalink }}" class="contrast">{{ .Title }}</a></h3>
                    <p>{{ .Date.Format "02.01.2006" }}</p>
                </hgroup>
                {{ partial "content/authors.html" . }}
            </header>
            <p>{{ .Summary }}</p>
            <footer>
                <a href="{{ .RelPermalink }}" role="button" class="outline">Czytaj dalej…</a>
            </footer>
        </article>
        {{ end }}
    </div>

    {{ if gt $paginator.TotalPages 1 }}
    <nav>
        <ul>
            {{ if $paginator.HasPrev }}
            <li><a href="{{ $paginator.Prev.URL }}" role="button" class="secondary">← Poprzednia</a></li>
            {{ end }}
            <li><small>Strona {{ $paginator.PageNumber }} z {{ $paginator.TotalPages }}</small></li>
            {{ if $paginator.HasNext }}
            <li><a href="{{ $paginator.Next.URL }}" role="button" class="secondary">Następna →</a></li>
            {{ end }}
        </ul>
    </nav>
    {{ end }}
</section>
{{ end }}
