{{ define "main" }}
<header>
    <h1>
        {{ if eq .Data.Plural "authors" }}Autor: {{ .Title }}
        {{ else if eq .Data.Plural "tags" }}Etykieta: #{{ .Title }}
        {{ else }}{{ .Title }}{{ end }}
    </h1>
</header>

<div class="grid">
    {{ range .Paginator.Pages }}
    <article>
        <header>
            <hgroup>
                <h3><a href="{{ .RelPermalink }}" class="contrast">{{ .Title }}</a></h3>
                <p>{{ .Date.Format "02.01.2006" }}</p>
            </hgroup>
        </header>
        <p>{{ .Summary }}</p>
        <footer>
            <a href="{{ .RelPermalink }}" role="button" class="outline">Czytaj dalej…</a>
        </footer>
    </article>
    {{ end }}
</div>

{{ if gt .Paginator.TotalPages 1 }}
<nav>
    <ul>
        {{ if .Paginator.HasPrev }}
        <li><a href="{{ .Paginator.Prev.URL }}" role="button" class="secondary">← Poprzednia</a></li>
        {{ end }}
        <li><small>Strona {{ .Paginator.PageNumber }} z {{ .Paginator.TotalPages }}</small></li>
        {{ if .Paginator.HasNext }}
        <li><a href="{{ .Paginator.Next.URL }}" role="button" class="secondary">Następna →</a></li>
        {{ end }}
    </ul>
</nav>
{{ end }}
{{ end }}
