{{ define "main" }}
<article>
    <header>
        <hgroup>
            <h1>{{ .Title }}</h1>
            <p>{{ .Date.Format "02.01.2006" }}</p>
        </hgroup>
        {{- partial "content/authors.html" . -}}
    </header>

    {{- partial "content/media.html" . -}}

    {{ if .Params.image }}
    <figure>
        <img src="{{ .Params.image | relURL }}" alt="{{ .Title }}">
        {{ if .Params.caption }}<figcaption>{{ .Params.caption }}</figcaption>{{ end }}
    </figure>
    {{ end }}

    <div class="content">
        {{ .Content }}
    </div>

    {{- partial "content/links.html" . -}}

    <footer class="post-footer">
        {{ with .Params.tags }}
        <div class="tags">
            <strong>Etykiety:</strong>
            <ul>
                {{ range . }}
                <li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">#{{ . }}</a></li>
                {{ end }}
            </ul>
        </div>
        {{ end }}
    </footer>
</article>
{{ end }}
